body {
   margin: 0;
   font-family: IBM Plex Sans, Prata, Manrope, Georgia, sans-serif;
   background: #F4F4F4;
   overflow: hidden;
   overflow-y: scroll;
}

table, tr, th {
   width: fit-content;
   border-spacing: 0.75rem;
}

.hidden {
   display: none
}

.hero {
   display: block;
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
   width: 35%;
   border: 10px inset #e6e6e6;
   background-color: #2B3A57;
}

.hero-main {
   justify-content: center;
   vertical-align: middle;
   overflow: hidden;
   position: relative;
}

.hero-image {
   padding: 2rem 3rem;
}

.hero-main-image {
   width: 100%;
}


#navbar-top {
   position: sticky;
   z-index: 99;
   top: 0;
}

.navigation-top {
   display: flex;
   padding: 1.5rem 0 1.5rem;
   color: #FFF;
   background: linear-gradient(90deg, #2B3A57 72.5%, #FFD966 100%);
   position: sticky;
   z-index: 99;
   top: 0;
}

.navigation-top > .content {
   display: flex;
   flex-direction: row;
   padding: 0 2.5%;
   gap: 2rem;
   align-items: center;
}

.navigation-top > .content > .wordmark {
   display: flex;
   align-items: center;
   width: 12.5%;
}

.navigation-top > .content > .wordmark img {
   display: block;
   width: 100%;
}

.navigation-top > .content > .links {
   display: flex;
   flex-direction: row;
   height: calc(100% + 3rem);
   width: 50%;
   align-items: center;
}

.navigation-top > .content > .links > a {
   display: flex;
   align-items: center;
   padding: 0 0.75rem;
   font-family: Manrope, sans-serif;
   font-size: 1rem;
   font-weight: bold;
   letter-spacing: 0.125rem;
   text-decoration: none;
   height: 100%;
   color: #B3B3B3;
   width: max-content;
}

.navigation-top > .content > .links > a:hover {
   background: #43567a;
   color: #FFF;
   transition: 0.3s;
}





.nav-top {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1.875rem 0 0.5rem;
   background: linear-gradient(90deg, #FFD966 0%, #2B3A57 35%, #2B3A57 65%, #FFB6C1 100%);
}

.nav-top-lower {
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(90deg, #FFD966 0%, #2B3A57 35%, #2B3A57 65%, #FFB6C1 100%);
   overflow: hidden;
   padding: 1rem;
   font-family: Manrope;
   text-align: center;
   line-height: 2rem;
   position: sticky;
   z-index: 99;
   top: 0px;
}

.nav-top-lower a {
   padding: 10px 15px;
   font-size: 0.875rem;
   text-decoration: none;
   font-weight: bold;
   color: #B3B3B3;
   letter-spacing: 0.125rem;
}

.nav-top-lower a:hover {
   color: #FFFFFF;
   transition: color 0.3s;
}

.nav-top-lower a.active {
   color: #FFFFFF
}

.nav-top .logo-container {
   display: flex;
   position: relative;
   width: 100%;
   max-height: 100%;
   justify-content: center;
   align-items: center;
}

.nav-top .logo-container img {
   display: block;
   min-width: 20rem;
   max-width: 27.5%;
   align-items: center;
}

h1 {
   padding: 1.25rem;
   padding-left: 15%;
   padding-right: 15%;
   font-size: 1.5rem;
   text-align: center;
}

h2 {
   padding: 10px;
   font-size: 1rem;
   font-weight: lighter;
   text-align: center;
}

.writing {
   padding: 1.25rem 7.5% 0.625rem 7.5%;
   text-align: left;
   vertical-align: middle;
   line-height: 1.75rem;
   font-size: 1.04rem;
   font-family: IBM Plex Sans, Georgia, serif;
   gap: 5rem;
}

.writing-content {
   display: flex;
   justify-content: center;
   padding-top: 1.25rem;
   padding-bottom: 0.625rem;
   padding-left: 7.5%;
   padding-right: 7.5%;
   vertical-align: middle;
   line-height: 2.063rem;
   font-size: 1.125rem;
   font-family: Open Sans;
   gap: 4.5rem;
}

.writing-left {
   text-align: left;
   vertical-align: middle;
   line-height: 1.75rem;
   font-size: 1.08rem;
   font-family: Source Sans Pro, IBM Plex Sans, Georgia, serif;
   width: 70%;
}

.writing-left a {
   text-decoration: underline;
   color: #000
}

.writing-left a:hover {
   color: #FF4444;
   transition: 0.15s;
}

.writing-content > .vertical-line {
   width: 2px;
   background: #B3B3B3;
}




.writing-right {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   vertical-align: top;
   line-height: 33px;
   font-size: 1.125rem;
   font-family: Open Sans;
   width: 25%;
}

.writing-right hr {
   width: 100%;
}

.writing-right .review-holder {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.25rem;
   width: 100%;
   height: fit-content;
   vertical-align: top;
}

.writing-right .review {
   display: flex;
   gap: 0;
   padding: 0;
}

.writing-right .review-page-tile {
   display: flex;
   text-decoration: none;
   color: #000;
   width: 100%;
   background-color: #ffb6c173;
}

.writing-right .review-image {   
   max-width: 50%;
}

.writing-right .review-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: 50%;
}

.writing-right .review-text {
   display: flex;
   flex-direction: column;
   width: 50%;
   padding: 0.875rem;
   gap: 0rem;
}

.writing-right .review-holder {
   width: 100%;
}

.writing-right .album-title {
   display: block;
}

.writing-right .album-artist {
   display: block;
   padding-top: 0rem;
   padding-bottom: 1.125rem;
}

.writing-right :is(.review-author, .review-date) {
   display: block;
   font-size: 0.875rem;
   line-height: 2rem;
}



.review:hover :is(.album-title) {
   opacity: 0.7;
   text-decoration: underline;
   font-size: 1.55rem;
   overflow: visible;
   cursor: pointer;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   transition:
      opacity 0.05s,
      font-size 0.125s;
}

.review:not(hover) :is(.album-title) {
   opacity: 1;
   text-decoration: none;
   font-size: 1.5rem;
   overflow: visible;
   cursor: pointer;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   transition:
      opacity 0.05s,
      font-size 0.125s;
}


.review:hover :is(.album-artist, .review-author, .review-date) {
   opacity: 0.7;
   cursor: pointer;
   transition:
      opacity 0.05s;
}

.review:hover :is(.review-image) {
   opacity: 0.8;
   cursor: pointer;
   transform: rotate3d(-0.65, 0.1, -0.05, 0.05turn) scale(0.925, 0.925);
   transition:
      opacity 0.075s,
      transform 0.275s;
}

.review:not(hover) :is(.review-image) {
   opacity: 1;
   rotate: 0deg;
   transform: none;
   transition:
      opacity 0.075s,
      transform 0.175s;
}

emptybody {
   display: grid;
   width: auto;
   grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
   padding-left: 12.5%;
   padding-right: 12.5%;
   gap: 1.5rem;
}

.review {
   display: block;
   gap: 0.625rem;
}

.review-page-tile {
   text-decoration: none;
   color: #000;
   width: 25%;
}

.review-image img {
   display: block;
   width: 100%;
   margin: auto;
   filter: drop-shadow(0.25rem 0.05rem 0.25rem rgba(0, 0, 0, 0.075));
}

.review-text {
   flex: 1;
   text-align: left;
   vertical-align: middle;
   padding-top: 1.625rem;
}

.review-text .album-title {
   flex: 1;
   text-align: left;
   line-height: 1.875rem;
   font-family: Prata;
   font-size: 1.5rem;
   vertical-align: middle;
   transform: skewX(-6deg);
   font-weight: bold;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   background-image: linear-gradient(22.5deg, rgba(10, 0, 30, 1) 0%, rgba(25, 40, 70, 1) 50%);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
}

.review-text .album-artist {
   flex: 1;
   text-align: left;
   font-family: IBM Plex Sans;
   font-size: 1.125rem;
   font-weight: lighter;
   vertical-align: middle;
   padding-top: 0.425rem;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.review-text a {
   text-decoration: none;
   color: #000;
}

.review-text a:hover {
   text-decoration: underline;
}

.review .bottom-texts {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.bottom-texts .review-author {
   text-align: left;
   line-height: 1.875rem;
   font-family: IBM Plex Sans;
   font-size: 0.875rem;
   font-weight: lighter;
   vertical-align: bottom;
   padding-top: 1.5rem;
   overflow: hidden;
   white-space: nowrap;
}

.bottom-texts .review-date {
   text-align: left;
   line-height: 0.875rem;
   font-family: IBM Plex Sans;
   font-size: 0.875rem;
   font-weight: lighter;
   vertical-align: bottom;
   padding-bottom: 1.125rem;
   overflow: hidden;
   white-space: nowrap;
}

.review-page-header {
   display: flex;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 15%;
   padding-right: 15%;
   gap: 1.25rem;
   justify-content: center;
   vertical-align: center;
   align-items: center;
}

.review-page-header-text {
   flex: 0.75;
   text-align: left;
   vertical-align: middle;
}

.review-page-header .album-title {
   flex: 1;
   text-align: center;
   font-family: Prata;
   font-size: 2.25rem;
   vertical-align: middle;
   transform: skewX(-6deg);
   font-weight: bold;
   padding: 0.625rem;
}

.review-page-header .album-artist {
   flex: 1;
   text-align: center;
   font-family: Georgia;
   font-size: 1.75rem;
   font-weight: lighter;
   vertical-align: middle;
   padding-top: 1.25rem;
}

.review-page-header .album-year {
   flex: 1;
   text-align: center;
   font-family: IBM Plex Sans;
   font-size: 1rem;
   font-weight: lighter;
   vertical-align: middle;
   padding-top: 1.75rem;
}

.review-page-image img {
   display: block;
   height: 250px;
   min-width: 100px;
   justify-content: center;
}

.review-page-header .album-score {
   flex: 0.2;
   text-align: center;
   font-family: Georgia;
   font-size: 2.5rem;
   vertical-align: middle;
   font-weight: bold;
}



.staff-page-holder {
   display: flex;
   padding-top: 4rem;
   padding-left: 25%;
   padding-right: 25%;
   align-content: center;
}

.staff-page-text {
   display: flex;
   flex-direction: column;
   width: auto;
}

.staff-page-name {
   font-family: Prata;
   font-size: 2.5rem;
   text-align: center;
}

.staff-page-role {
   font-family: IBM Plex Sans;
   font-size: 1.2rem;
   text-align: center;
}

.staff-page-socials {
   font-family: IBM Plex Sans;
   font-size: 1.2rem;
   width: 50%;
}




.articles-page-holder {
   display: flex;
   padding-top: 4rem;
   padding-left: 25%;
   padding-right: 25%;
}

.articles-page-template-a {
   color: #000;
   text-decoration: none;
}

.articles-page-text {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.articles-page-name {
   font-family: Prata;
   font-size: 2.5rem;
   letter-spacing: 0.075rem;
   text-align: center;
}

.articles-page-subheader {
   font-family: IBM Plex Sans;
   font-size: 1.2rem;
   padding-top: 0.5rem;
   text-align: center;
}



.articles-page-body {
   display: flex;
   padding: 0 15%;
   justify-content: space-between;
}

.articles-page-template {
   display: flex;
   gap: 3rem;
   justify-content: space-between;
}

.articles-page-template .text {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.articles-page-template .title {
   font-family: Prata;
   font-size: 1.5rem;
   line-height: 2.25rem;
   min-width: 100%;
}

.articles-page-template .date {
   font-family: IBM Plex Sans;
   padding-top: 0.75rem;
   color: #505050;
}

.articles-page-template .image {
   flex-grow: 1;
}

.articles-page-template .image img {
   max-width: 100%;
   border-radius: 0.75rem;
}

.articles-page-template:hover {
   opacity: 0.7;
   cursor: pointer;
   transition: 0.3s;
}


.article-head-pic {
   padding-top: 2rem;
   display: block;
   max-height: 30rem;
   max-width: 90%;
   margin: auto;
}

.purchase {
   padding: 40px;
   padding-left: 180px;
   padding-right: 180px;
   text-align: left;
   line-height: 25px;
}

hr {
   width: 75%;
   padding: 1.25rem auto;
}

button {
   font-size: 16px;
   font-family: IBM Plex Sans;
}



.nav-bottom {
   display: flex;
   flex-direction: row;
   gap: 5rem;
   justify-content: center;
   /* align-items: center; */
   position: relative;
   background-color: #2B3A57;
   overflow: hidden;
   padding: 2.5rem 10%;
   font-family: Manrope;
}

.nav-bottom .vertical-line {
   width: 3px;
   height: auto;
   background-image: linear-gradient(180deg, rgba(255, 217, 102, 1) 0%, rgba(255, 182, 193, 1) 100%);
}

.nav-bottom .column-1 {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.875rem;
   flex-basis: auto;
}

.nav-bottom .column-1 a {
   padding: 0.75rem;
   font-size: 0.875rem;
   text-decoration: none;
   color: #B3B3B3;
   letter-spacing: 0.125rem;
}

.nav-bottom .column-2 {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   width: fit-content;
}

.nav-bottom .column-2 a {
   text-decoration: none;
   color: #B3B3B3;
}

@media (max-width: 850px) {
   .nav-bottom {
      display: grid;
      flex-direction: row;
      align-items: center;
      padding: 2rem 5%;
      gap: 1rem;
      vertical-align: middle;
   }
}

@media (min-width: 851px) and (max-width: 1000px) {
   .nav-bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 2rem 5%;
      gap: 1rem;
      vertical-align: middle;
   }

   .nav-bottom .all-rights-reserved {
      text-align: center;
      font-size: 1.5rem;
   }

   .nav-bottom .content .title {
      font-size: 1.5rem;
   }

   .nav-bottom .column-1,
   .nav-bottom .column-2 {
      align-items: left;
      padding: 0 2.5%;
      font-size: 1.125rem;
   }

   .nav-bottom .column-1 .content,
   .nav-bottom .column-2 .content {
      width: fit-content;
      overflow: hidden;
      white-space: nowrap;
      font-size: 1.125rem;
   }
}

@media (max-width: 768px) {
   emptybody {
      display: grid;
      width: auto;
      grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
      padding-left: 7.5%;
      padding-right: 7.5%;
      gap: 1.5rem;
   }

   .nav-top-lower {
      padding: 0.75rem;
   }

   .writing {
      display: grid;
      padding: 1.25rem 7.5% 0.625rem 7.5%;
      text-align: left;
      vertical-align: middle;
      line-height: 2.063rem;
      font-size: 1.125rem;
      font-family: Open Sans;
      gap: 5rem;
   }

   .writing-content {
      display: grid;
      width: auto;
      grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
      padding-left: 5%;
      padding-right: 5%;
      gap: 1.5rem;
      justify-content: center;
      padding-top: 1.25rem;
      padding-bottom: 0.625rem;
      vertical-align: middle;
      line-height: 2.063rem;
      font-size: 1.125rem;
      font-family: Georgia;
      gap: 5rem;
   }

   .writing-left {
      text-align: left;
      vertical-align: middle;
      line-height: 33px;
      font-size: 1.125rem;
      font-family: Open Sans;
   }

   .writing-right {
      display: grid;
      flex-direction: column;
      align-items: center;
      text-align: center;
      vertical-align: top;
      line-height: 33px;
      font-size: 1.125rem;
      font-family: Open Sans;
      width: 25%;
   }
}

.nav-bottom .image {
   display: flex;
   justify-content: center;
   padding-bottom: 0.25rem;
}

.nav-bottom .image img {
   display: block;
   align-items: center;
   width: 90%
}

.nav-bottom .all-rights-reserved {
   text-align: center;
   font-size: 0.875rem;
   text-decoration: none;
   font-weight: bold;
   color: #B3B3B3;
   letter-spacing: 0.075rem;
   font-weight: lighter;
   width: fit-content;
   width: fit-content;
   overflow: hidden;
   white-space: nowrap;
}

.nav-bottom a:hover {
   color: #FFFFFF;
   transition: color 0.3s;
}

.nav-bottom .content {
   text-transform: uppercase;
   color: #B3B3B3;
   line-height: 2rem;
   letter-spacing: 0.075rem;
   width: fit-content;
   font-size: 0.875rem;
}

.nav-bottom .content .title {
   color: #FFF;
   font-family: IBM Plex Sans;
   letter-spacing: 0.05rem;
   font-size: 1rem;
   width: fit-content;
   overflow: hidden;
   white-space: nowrap;
}

.legal-text {
   font-family: IBM Plex Sans;
   font-size: 1.125rem;
   line-height: 2.25rem;
   padding: 4rem 20%;
}

.full-instagram-embed {
   display: flex;
   justify-content: center;
   padding: 0 4rem;
}

.album-artist a {
   text-decoration: none;
   color: #000;
}


.front-page-container {
   display: flex;
   margin-left: auto;
   margin-right: auto;
   flex-direction: row;
   width: 85%;
   gap: 3rem;
   justify-content: center;
}

.front-page-container > .left {
   max-width: 30%;
   min-height: 50vh;
   padding: 0.75rem;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   align-items: center;
   justify-content: left;
}

.front-page-container > .center {
   max-width: 40%;
   min-height: 50vh;
   padding: 0.75rem;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   align-items: center;
   justify-items: center;
}

.front-page-container > .right {
   max-width: 30%;
   min-height: 50vh;
   padding: 0.75rem;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   align-items: center;
   justify-content: left;
}

.front-page-container .article {
   width: 100%;
   font-family: Prata;
   font-size: 2rem;
   background-color: #ccd9fd63;
   border-radius: 0.375rem;
   padding: 1.5rem;
   align-content: center;
}

.front-page-container a {
   width: 100%;
   align-items: center;
   justify-content: center;
   color: #000;
   text-decoration: none;
}

.front-page-container .image img {
   display: block;
   width: 100%;
   border-radius: 1rem;
   padding-bottom: 1.25rem;
}

.front-page-container .title {
   font-family: Prata;
   font-size: 2rem;
}

.front-page-container .desc {
   font-family: IBM Plex Sans;
   font-size: 1.2rem;
   padding-top: 0.75rem;
}
